/*
01. GENERAL STYLING
02. MENU
03. INDEX
	- CONTACT
	- FOOTER
    - PRICING TABLE
04. CSS3 ANIMATIONS
05. MEDIA QUERIES
*/

/*-----------------------------------------------------------------------------------*/
/*	01: GENERAL STYLING
/*-----------------------------------------------------------------------------------*/

html { position: relative; min-height: 100%; }

body {
	margin: 0;
	padding: 0;
	font:14px/24px 'Lato', sans-serif;
	color: #555;
	background: #f0f0f0;  
	-webkit-backface-visibility: hidden; 
	overflow-x: hidden; 
}

/**** PAGE CONTAINERS ****/
.header { 
	padding: 0 0;
	margin: 0 auto; 
	min-height: 86px;
	width: 100%;
	z-index: 1000; 
}
.inner_content { padding: 20px 0 0; }
.wrapper {  margin: 0px auto; padding: 0 0 60px;}
#banner { width: 100%; }
#banner7 {font:2px/8px 'Lato', sans-serif;}

/**** GENERAL ****/
img { height: auto; max-width: 100%;  vertical-align: top; ms-interpolation-mode: bicubic; opacity: 1.0; width: auto\9;}
a, input, select, textarea {outline: none; text-decoration: none; }
a, li { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
a, a:visited { text-decoration: none!important; }
:focus { outline: 0!important;}
a:hover, a:active, a:focus { outline: 0!important; }
p { margin-bottom: 15px; }
span { font-weight: 700; }
small { letter-spacing: 0.2em; font-size: 11px; }
.clear { height: 0; clear: both; font-size: 0; }
.pull-right { margin-left: 12px; }
.fa { text-rendering: auto; }

/* Padding */
.pad45 { padding-top: 45px; }
.pad30 { padding-top: 30px; }
.pad10 { padding-top: 10px; }

/* Margins */
.marg-right5 { margin-right: 5px; }

iframe { border: 0; }

/**** LINKS ****/
a {
	text-decoration: none;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	outline: none;
}
a:hover { text-decoration: none; }

/**** BUTTONS ****/
.btn{ 
	border: 0;
	-webkit-transition: background-color .4s ease-in;
	-moz-transition: background-color .4s ease-in;
	-o-transition: background-color .4s ease-in;
	transition: background-color .4s ease-in;
}

/**** TYPOGRAPHY ****/
h1,h2,h3,h4,h5,h6 { font-weight: 300; letter-spacing: -0.25px; font-family: 'Lato', sans-serif;}
h1 { font-size: 24px; line-height: 40px!important;  }
h2 { font-size: 21px;  line-height: 30px!important; }
h3 { font-size: 18px; line-height: 25px!important;  }
h4 { font-size: 16px; line-height: 25px!important; margin-bottom: 10px; }
h5 { font-size: 15px; line-height: 22px!important; margin-bottom: 10px; }
h6 { font-size: 14px; line-height: 22px!important; margin-bottom: 10px; }

/*-----------------------------------------------------------------------------------*/
/*	02: MENU
/*-----------------------------------------------------------------------------------*/

#main_menu { z-index:999; }
.navbar { padding: 0; margin: 0; background: transparent; border: 0px none; }
#main_menu .nav { float: right; margin: 22px 0 0 0; }
.navbar .nav.pull-right { float: right; margin-right: -30px!important; }

#main_menu  .nav > li > a {
	font-weight: 400;
	letter-spacing: 2px;
	font-size: 13px;
	text-align: center!important;
	text-transform: uppercase;
}

/**** TOGGLE ****/
.navbar-toggle {
	position: absolute;
	top: 20px;
    right: 0px;
	font-size: 20px;
	border: 0px;
	width: 40px;
	height: 40px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	line-height: 0px;
}

/*-----------------------------------------------------------------------------------*/
/*	03: INDEX
/*-----------------------------------------------------------------------------------*/

/***************************************************
	SLIDER REVOLUTION - index
***************************************************/

.tp-banner-container { width:100%; position:relative; padding:0; }
.tp-banner-container li { visibility: hidden; }

/**** BULLETS ****/
.tp-bullets	{ height: 21px;}
.tp-bullets .bullet {	
	cursor: pointer;
	position: relative !important;
	background: rgba(0, 0, 0, 0.15) !important;
	/*-webkit-border-radius: 10px;
	border-radius: 10px;*/
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	width: 5px !important;
	height: 5px !important;
	border: 8px solid rgba(0, 0, 0, 0) !important;
	display: inline-block;
	 margin-right: 5px !important;
	 margin-bottom: 0px !important;
	-webkit-transition: background-color 0.2s, border-color 0.2s;
	-moz-transition: background-color 0.2s, border-color 0.2s;
	-o-transition: background-color 0.2s, border-color 0.2s;
	 -ms-transition: background-color 0.2s, border-color 0.2s;
	transition: background-color 0.2s, border-color 0.2s;
	float:none !important;
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;	
}
.tp-bullets .bullet.last { margin-right: 0px; }
.tp-bullets .bullet:hover, .tp-bullets .bullet.selected {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: #aaa !important;
	width: 5px !important;
	height: 5px !important;
	border: 8px solid rgba(255, 255, 255, 1) !important;
}


/***************************************************
	INDEX INTRO BOXES
 ***************************************************/
/* Index Boxes */
.tile {
	/*background-color: #e3e1e1;*/
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	padding: 14px;
	position: relative;
	text-align: center;
	/*margin-bottom: 25px;*/
    color: #fff;
}
.tile h6 { margin-top: 25px; line-height: 25px!important; }
.tile span{ font-weight: 500; font-size: 20px; }

/* Index Box Icons */

.intro-icon-disc.cont-large { width: 180px; height: 180px; margin: 0 auto; }

.intro-icon-disc {
	-webkit-transition: border .5s;
	-moz-transition: border .5s;
	-o-transition: border .5s;
	-ms-transition: border .5s;
	transition: border .5s;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
	-webkit-box-shadow:none;
	-moz-box-shadow: 0 0 0 30px transparent;
	box-shadow: 0 0 0 30px transparent;
	background: rgba(255,255,255,0);
	-webkit-transition: box-shadow .6s ease-in-out;
	-moz-transition: box-shadow .6s ease-in-out;
	-o-transition: box-shadow .6s ease-in-out;
	-ms-transition: box-shadow .6s ease-in-out;
	transition: box-shadow .6s ease-in-out;
}
.intro-icon-disc:hover {
	box-shadow: 0 0 0 0 rgba(255,255,255,0.6);
	-webkit-transition: box-shadow .4s ease-in-out;
	-moz-transition: box-shadow .4s ease-in-out;
	-o-transition: box-shadow .4s ease-in-out;
	-ms-transition: box-shadow .4s ease-in-out;
	transition: box-shadow .4s ease-in-out;
}

/***************************************************
	CONTACT
***************************************************/

.contact_form { padding-top: 20px; }
#ajax-contact-form input, .contact_form textarea { border:0px none; box-shadow: none; }
.contact_form textarea { min-height: 200px;}

.form_info {
	color: #fff;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 2px;
	margin-bottom: 8px;
	clear: both;
    text-align: left;
}
#ajax-contact-form input, #ajax-contact-form textarea {
	border: 2px solid #d8d3cb;
	color: #888;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 8px;
	margin-bottom: 8px;
}

#ajax-contact-form input { line-height:0px; }
.required { font-size: 17px; }

#ajax-contact-form input.btn-form {
	border: 0 none;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 20px 14px;
	margin-top: 10px;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: 700;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
}
.notification_error {
	color: #fff;
	background-color: #333;
	height: auto;
	margin: 0 0 9px 0;
	padding: 10px;
	text-align: left;
}
.notification_ok {
	color: #fff;
	background-color: #333;
	font-weight: 400;
	height: auto;
	margin: 0 0 9px 0;
	padding: 10px;
	text-align: center;
	font-size: 13px;
	text-transform: uppercase;
}

#contact h1 { 
	letter-spacing: 0.25em;
	font-size: 25px;
	color: #fff;
	margin-bottom: 0.5em!important;
}

#contact a {
    color: #fff;
    text-decoration: none;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
}

#contact a:hover {color: #555;}

#contact { padding: 40px 0 0 0; text-align: center; }

h1.social{
    margin-top: 45px;
}

.social-icon {
    float: left;
    margin-right: 10px;
}

.social-text {
    text-align: left;
    margin-bottom: 2px;
}

/***************************************************
	FOOTER
 ***************************************************/
/*Social Icons */
.follow_us { text-align:center; margin:0 auto;  }
.follow_us a { 
	font-size: 50px;
	color: #fff;
	margin: 0 0 0 0;
	text-align: center;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	background: transparent;
	opacity: 0.2;
}
.follow_us a:hover {opacity: 1.0; color: #fff;}

form#ajax-contact-form {text-align: left;}

#footer {
	text-align: center;
	padding: 39px 0 36px; 
	margin: 0 0; 
	font-size: 13px;
	font-weight: 400;
	width: 100%;
	height:120px;
}

.footer-dev{
    margin: 5px 0 0 0;
    
}

/* Back To Top */
.go-top {
	position: fixed;
	bottom: 0.9em; 
	right: 0.5em;
	text-decoration: none;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 30px;
	padding: 0.05em 0.3em 0.1em;
	display: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
   	border-radius: 3px;
	z-index: 999;
}
.go-top:hover { background-color: rgba(0, 0, 0, 0.6);}

/***************************************************
	PRICING TABLE
 ***************************************************/

.tile2 {
	background-color:  #e3e1e1;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	padding: 14px;
	position: relative;
	text-align: center;
	margin-bottom: 25px;
}
.tile2.tile-hot:before {
  	background-size: 82px 82px;
    content: "";
    height: 82px;
    position: absolute;
    right: 6px;
    top: 6px;
    width: 82px;
}
.pricing-table { text-align: center; margin-bottom: 20px; padding: 10px; background:transparent; }
.pricing-table h4 { 
	color: #fff;
	margin-bottom: -4px;
	margin-top: 25px; 
	font-size: 25px; 
	text-transform: uppercase!important; 
	letter-spacing: 1px;
	font-weight: 700!important; 
}
.pricing-table ul { margin: 0; padding: 0; list-style: none; }
.price {
	font: 40px 'Lato', sans serif;
	font-weight: 700;
	margin: 13px 0 5px;
	text-align: center;
	color: #555;
}
.pricing-header-row-1 {
	text-align: center;
	height: 75px;
	padding: 5px 0 12px;
	-webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
}
.pricing-header-row-2 {
	text-align: center;
	height: 90px;
	margin-top: 0px;
	padding: 10px 0 ;
	border-top: none;
	background: #E9E6E1!important; 
}
.pricing-content-row-odd { font-size: 14px; padding: 8px 0; background: #f0eee9!important;  }
.pricing-content-row-even { font-size: 14px; padding: 8px 0; background: #E9E6E1!important; }
.pricing-footer {
	text-align: center;
	height: 65px;
	padding: 20px 0 0;
	-webkit-border-radius: 0px 0px 6px 6px;
    -moz-border-radius: 0px 0px 6px 6px;
	border-radius: 0px 0px 6px 6px;
}
.pricing-table h5 { font-weight: 400; }
.pricing-table small { text-transform:uppercase; font-size:9px; color: #555; }
.pricing-table .btn-pricing{ 
	color: #fff;
	padding: 0 10px; 
	margin-top: -9px;
  	background: rgba(255, 255, 255, 0.2); 
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.btn-pricing:hover { background: rgba(255, 255, 255, 0.3);  color: #fff; }

/*-----------------------------------------------------------------------------------*/
/*	04: CSS3 ANIMATIONS
/*-----------------------------------------------------------------------------------*/

.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}@-webkit-keyframes fadeIn { 0% {opacity: 0;}	100% {opacity: 1;}
}

@-moz-keyframes fadeIn { 0% {opacity: 0;} 100% {opacity: 1;} }
@-o-keyframes fadeIn { 0% {opacity: 0;}	 100% {opacity: 1;} }
@keyframes fadeIn { 0% {opacity: 0;} 100% {opacity: 1;} }

.fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}
@-webkit-keyframes fadeInUp {
	0% { opacity: 0; -webkit-transform: translateY(20px); }
	100% { opacity: 1; -webkit-transform: translateY(0); }
}

@-moz-keyframes fadeInUp {
	0% { opacity: 0; -moz-transform: translateY(20px); }
	100% { opacity: 1; -moz-transform: translateY(0); }
}
@-o-keyframes fadeInUp {
	0% { opacity: 0;	-o-transform: translateY(20px); }
	100% { opacity: 1; -o-transform: translateY(0); }
}

@keyframes fadeInUp {
	0% { opacity: 0; transform: translateY(20px); }
	100% { opacity: 1; transform: translateY(0); }
}
.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDown {
	0% { opacity: 0; -webkit-transform: translateY(-20px); }
	100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes fadeInDown {
	0% { opacity: 0; -moz-transform: translateY(-20px); }
	100% { opacity: 1; -moz-transform: translateY(0); }
}
@-o-keyframes fadeInDown {
	0% { opacity: 0; -o-transform: translateY(-20px);}
	100% { opacity: 1; -o-transform: translateY(0); }
}
@keyframes fadeInDown {
	0% { opacity: 0; transform: translateY(-20px); }
	100% { opacity: 1; transform: translateY(0); }
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
@-webkit-keyframes bounceInDown {
	0% { opacity: 0; -webkit-transform: translateY(-2000px); }
	60% { opacity: 1; -webkit-transform: translateY(30px); }
	80% { -webkit-transform: translateY(-10px); }
	100% { -webkit-transform: translateY(0); }
}
@-moz-keyframes bounceInDown {
	0% { opacity: 0; -moz-transform: translateY(-2000px); }
	60% { opacity: 1; -moz-transform: translateY(30px); }
	80% { -moz-transform: translateY(-10px); }
	100% { -moz-transform: translateY(0); }
}
@-o-keyframes bounceInDown {
	0% { opacity: 0; -o-transform: translateY(-2000px); }
	60% { opacity: 1; -o-transform: translateY(30px); }
	80% { -o-transform: translateY(-10px); }
	100% { -o-transform: translateY(0); }
}
@keyframes bounceInDown {
	0% { opacity: 0; transform: translateY(-2000px); }
	60% { opacity: 1; transform: translateY(30px); }
	80% { transform: translateY(-10px); }
	100% { transform: translateY(0); }
}

.bounceInDown {
	-webkit-animation-name: bounceInDown;
	-moz-animation-name: bounceInDown;
	-o-animation-name: bounceInDown;
	animation-name: bounceInDown;
}
@-webkit-keyframes bounceInLeft {
	0% { opacity: 0; -webkit-transform: translateX(-2000px); }
	60% { opacity: 1; -webkit-transform: translateX(30px); }
	80% { -webkit-transform: translateX(-10px); }
	100% { -webkit-transform: translateX(0); }
}
@-moz-keyframes bounceInLeft {
	0% { opacity: 0; -moz-transform: translateX(-2000px); }
	60% { opacity: 1; -moz-transform: translateX(30px); }
	80% { -moz-transform: translateX(-10px); }
	100% { -moz-transform: translateX(0); }
}
@-o-keyframes bounceInLeft {
	0% { opacity: 0; -o-transform: translateX(-2000px); }
	60% { opacity: 1; -o-transform: translateX(30px); }
	80% { -o-transform: translateX(-10px);}
	100% { -o-transform: translateX(0); }
}

@keyframes bounceInLeft {
	0% { opacity: 0; transform: translateX(-2000px); }
	60% { opacity: 1; transform: translateX(30px); }
	80% { transform: translateX(-10px); }
	100% {transform: translateX(0); }
}

.bounceInLeft {
	-webkit-animation-name: bounceInLeft;
	-moz-animation-name: bounceInLeft;
	-o-animation-name: bounceInLeft;
	animation-name: bounceInLeft;
}
@-webkit-keyframes bounceInRight {
	0% { opacity: 0; -webkit-transform: translateX(2000px); }
	60% { opacity: 1; -webkit-transform: translateX(-30px); }
	80% { -webkit-transform: translateX(10px); }
	100% { -webkit-transform: translateX(0); }
}

@-moz-keyframes bounceInRight {
	0% { opacity: 0; -moz-transform: translateX(2000px); }
	60% { opacity: 1; -moz-transform: translateX(-30px); }
	80% { -moz-transform: translateX(10px); }
	100% { -moz-transform: translateX(0); }
}
@-o-keyframes bounceInRight {
	0% {opacity: 0; -o-transform: translateX(2000px); }
	60% { opacity: 1; -o-transform: translateX(-30px); }
	80% { -o-transform: translateX(10px); }
	100% { -o-transform: translateX(0); }
}
@keyframes bounceInRight {
	0% { opacity: 0; transform: translateX(2000px);}
	60% {opacity: 1; transform: translateX(-30px);}
	80% {transform: translateX(10px);}
	100% {transform: translateX(0);}
}

.bounceInRight {
	-webkit-animation-name: bounceInRight;
	-moz-animation-name: bounceInRight;
	-o-animation-name: bounceInRight;
	animation-name: bounceInRight;
}
@-webkit-keyframes shake {
	0%, 100% {-webkit-transform: translateX(0);}	10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}
@-moz-keyframes shake {
	0%, 100% {-moz-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}
@-o-keyframes shake {
	0%, 100% {-o-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}
@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.shake {
	-webkit-animation-name: shake;
	-moz-animation-name: shake;
	-o-animation-name: shake;
	animation-name: shake;
}

/*-----------------------------------------------------------------------------------*/
/*	05: MEDIA QUERIES
/*-----------------------------------------------------------------------------------*/
@media (max-width: 979px) {
.header { float:none !important; text-align:center; margin:0px auto; padding-bottom:10px!important;}
.container {  padding: 0 15px !important; }
#banner { padding-bottom: 25px!important; }
.navbar .nav.pull-right { float: right; margin-right: 0px!important; }
}
/* mobile menu */
@media(max-width:767px){
.navbar .nav.pull-right { float: none; width: 100%; margin: 0; }
#main_menu .nav > li {   border-top: 1px solid #2C2C2C; width:100%!important; }
#main_menu .nav > li a { text-align:left!important;  }
#main_menu  .nav > li:first-child { border-top: 0px solid #2C2C2C; width:100%!important; margin-top:-20px; }
#contact h1 { font-size: 20px; }
.social-icon {   margin-top: 5px; }
}
@media ( min-width:768px) and (max-width:979px){

#main_menu .nav > li > a { font-size: 12px; margin:0px 0 -10px 0!important; padding:24px 15px 22px!important; }
#main_menu .nav { margin:28px -20px 0px 0!important; }
}
@media only screen and (max-width: 480px) { 
#banner { padding-bottom:25px!important; }
}
/* slider revolution */
@media screen and (min-width: 481px) and (max-width:766px){
.follow_us a { font-size: 45px!important;}
}
/* slider revolution */
@media screen and (max-width: 31.5em) {
.follow_us a { font-size: 35px!important; }
}

/* masonry gallery */
@media screen and (max-width: 24em) {
#footer{ padding: 28px 0 0!important; }
}